@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

* {
    text-align: center;
    font-family: 'Zen Kurenaido', sans-serif;
    margin: 0;

}

a:link {
    color: white;
    text-decoration: none;
 }

h1 {
    padding: 10px;
}

header {
    background-color: black;
    padding: 20px;
    color: white;
}

iframe {
    width: 100%;
    height: 100%;
}

main {
    padding: 20px;
    color: black;
    font-size: 20px;
}

h2 {
    background-color: #c2c2c2;
    font-size: 22px;
}

.bloco {
    border: gray solid 1px;
    margin: 2px;
    background-color: rgb(50, 51, 50);
}

.fotos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    
    #container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .fotos {
        padding: 20px;

         /*ALINHAR FOTOS  */
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    iframe {
        width: 100%;
        height: 50%;
    }
}